<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <array>
    <dict>
      <key>Name</key>
      <string>John Appleseed</string>
      
      <key>Serial</key>
      <string>GCAYOASCAD62S2T6OTUR7BUSAT72LQ2HMLK6BRECKMZDDXHZDI57F7JGCCOURYAQT4QI4QOQS36EUJKRZSVAWSAP7YMERZSKYU56BLZYJ5FBFSEP4YBECF5GVIQHW7LFX3S24TKHK4DTPLTAGEY7W6D3M64LI3NQIRJNCNDO7O6B6PRKFV7IN6ONF4MMEXWT7EUVEENGFSMTFHTMNQPNUQHKKQAHW===</string>
    </dict>
    
    <dict>
      <key>Name</key>
      <string>Константин Павлихин</string>
      
      <key>Serial</key>
      <string>GCAYQASCAGDWUDLTL5Z4TPMFUS6TKQ6RXNTYG26BAN3FNTU2DRBRSRGO7A6DYZ65ZXS6IMJH6QG3DDB7P3V2FH2QRGRDZ6OWM5V2LKSBVYXEBOQ2VIBEEANPK7TKS5NPJISXDTFXKKUTG7YN6LDYRW7RI4CQ3Q3SMJD5XBG2P5QZO3K5RDEK2OI6G66FRSCMX4C5LXUK2BSTQL7PSUDOP4DQUNQO6SI=</string>
    </dict>
    
    <dict>
      <key>Name</key>
      <string>ประเทศไทย</string>
      
      <key>Serial</key>
      <string>GCAYOASBFTI2QA4ROSSHA2GNCVKGANZOJH44PRID5XITTFJBMXGPTVO6IKRXHXW3ECVR6WOR2D3PUMRS7EU3GY766GPW4Z2CZLPGFBP5LTDQGJR2AJBADOUJUTNHBHWT6J3FA7QBZ227EUMUWWLWSZC775JGAIUSDLYVRBVPBDXM4PEJNGSYOYSBQ5TQTI7MNT224DAOQTXSOV5B67HEESNCJ4MZQ===</string>
    </dict>
  </array>
</plist>
